{% extends "base.twig" %}

{% block title %}
    E-commerce | Products
{% endblock title %}

{% block main %}
    <h3 class="text-center">Products</h3>
    <section class="row rounded shadow p-3 p-lg-5 products">
        {% for product in products %}
            <figure class="col-sm-6 col-lg-3">
                <a href="/products/products/show/{{ product.id }}"><img src="{{ product.image }}" alt="Product {{ product.id }}"></a>
                {% set currency = "€" %}                
                <figcaption>{{ product.name }}<br>Price: {{ product.price ~ "%s"|format(currency) }}</figcaption>                
            </figure>
        {% endfor %}
    </section>
{% endblock main %}