{% extends "base.twig" %}

{% block title %}
    E-commerce | Show Product
{% endblock title %}

{% block main %}
    <h3 class="text-center">Show Product</h3>
    <section class="row rounded shadow p-3 p-lg-5 show-product">
        <figure class="col-sm-12 col-md-4 text-center">
            <img src="{{ product.image }}" alt="Product {{ product.id }}">              
            <figcaption>{{ product.name }}</figcaption>            
        </figure>
        <article class="col-md-8">
            <p>{{ product.description }}</p>
            <p>Price: {{ product.price }}</p>
            <a class="btn btn-outline-primary" href="#">Add to cart</a>
            {% if session.role == 'ROLE_ADMIN' %}
                <a class="btn btn-outline-primary" href="/products/edit/{{ product.id }}">Edit product</a>
                <a class="btn btn-outline-danger" href="#">Delete product</a>
            {% endif %}
        </article>
    </section>    
{% endblock main %}